


<button ng-click='showButtons=true' ng-hide='showButton'>
    New Game
  </button>
    
    <div ng-show='showButtons'>
      <h3 >Select your difficulty</h3>
      <button ng-click="initialize('easy')">Easy</button>
      <button ng-click="initialize('med')">Medium</button>
      <button ng-click="initialize('hard')">Hard</button>
    </div>



<div ng-show='showGame' class="row">

    <!-- COLUMN ONE NAMED VIEW -->
    <div class="col-sm-6">
        <div ui-view="userGame">
        </div>

    </div>

      <div class="col-sm-6">
        <div ui-view="botGame"></div>
    </div>
</div>
