<div class='gameArea'>
  <pre class=playerName>
        ________  ___  ___  ________       ___    ___      ___  ___  ___  ___  _____ ______   ________  ________      
        |\   __  \|\  \|\  \|\   ___  \    |\  \  /  /|    |\  \|\  \|\  \|\  \|\   _ \  _   \|\   __  \|\   ___  \    
        \ \  \|\  \ \  \\\  \ \  \\ \  \   \ \  \/  / /    \ \  \\\  \ \  \\\  \ \  \\\__\ \  \ \  \|\  \ \  \\ \  \   
         \ \   ____\ \  \\\  \ \  \\ \  \   \ \    / /      \ \   __  \ \  \\\  \ \  \\|__| \  \ \   __  \ \  \\ \  \  
          \ \  \___|\ \  \\\  \ \  \\ \  \   \/  /  /        \ \  \ \  \ \  \\\  \ \  \    \ \  \ \  \ \  \ \  \\ \  \ 
           \ \__\    \ \_______\ \__\\ \__\__/  / /           \ \__\ \__\ \_______\ \__\    \ \__\ \__\ \__\ \__\\ \__\
            \|__|     \|_______|\|__| \|__|\___/ /             \|__|\|__|\|_______|\|__|     \|__|\|__|\|__|\|__| \|__|
                                          \|___|/                                                                                                   
    </pre>
  <div class='wrong' id='userWrong'>
    <li ng-repeat='fail in wrongGuesses '>
      {{fail}}
    </li>
  </div>
  
  <canvas id="myCanvas" class='canvas' width="250px" height="300px">
  </canvas>
  <button ng-click='buyALetter()'></button>
  <div id='guessingArea' class='input-box' ng-hide='gameOver'>

    <input placeholder='Guess a Letter' id='guessLetter' type="text" maxlength="1" pattern="[A-Za-z]" ng-model='guess' ng-keypress="guesssLetter($event)"
      ng-hide='showGuessWord'>

  </div>
  <ul>
    <li ng-repeat='row in dashArr track by $index'>{{row}}</li>
  </ul>
  <input class='guessW' id='guessWord' placeholder='Guess the Word' type="text" ng-model="wordGuess" ng-keypress="guessWord($event)"
    ng-hide='gameOver'>
</div>