.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul{
	min-width: 696px;
	list-style: none;
  padding-top: 20px;

	}
	 li {
    font-size: 47px;
    display: inline;
    margin: 10px;
    padding: 6px;
  }
  #myCanvas{
    margin-bottom: 50px;
  }